* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, #0a0a0a, #3a4452);
    background-image: url('./bg-img2.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.calculator {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 6px solid rgba(255, 255, 255, 0.18);
}

.calculator input {
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 10px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    background: var(--button-bg-color);
    font-size: 20px;
    color: var(--button-text-color);
    cursor: pointer;
    margin: 10px;
    transition: all 0.3s ease;
}

.calculator input:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.display {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

.display input {
    text-align: right;
    flex: 1;
    font-size: 45px;
    border: none;
    outline: none;
    background: var(--display-bg-color);
    color: var(--display-text-color);
    border-radius: 10px;
    padding: 10px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

.theme-toggle {
    position: absolute;
    top: 2px;
    right: 20px;
}

#theme-toggle-button {
    border: none;
    outline: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    cursor: pointer;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

#theme-toggle-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.2);
}

form .operator {
    font-size: 30px;
    background-color: var(--operator-bg-color);
    color: var(--operator-text-color);
}

form .equal {
    width: 145px;
    background-color: var(--equal-bg-color);
    color: #0d0101;
    border-radius: 10px;
}

/* Light theme */
.light {
    --background-color: rgba(255, 255, 255, 0.3);
    --button-bg-color: rgba(255, 255, 255, 0.5);
    --button-text-color: #000;
    --operator-bg-color: rgba(255, 208, 253, 0.8);
    --equal-bg-color: rgba(32, 153, 187, 0.5);
    --display-bg-color: rgba(255, 255, 255, 0.5);
    --display-text-color: #0c0a0a;
    --operator-text-color: rgb(162, 20, 20);
}

.light .container {
    background-color: var(--background-color);
}

.light .calculator {
    background-color: rgba(255, 255, 255, 0.2);
}

/* Dark theme */
.dark {
    --background-color: rgba(51, 60, 72, 0.8);
    --button-bg-color: rgba(68, 76, 86, 0.8);
    --button-text-color: #fff;
    --operator-bg-color: rgba(255, 149, 0, 0.8);
    --equal-bg-color: rgba(76, 175, 80, 0.8);
    --display-bg-color: rgba(68, 76, 86, 0.8);
    --display-text-color: #fff;
    --operator-text-color: #fff;
}

.dark .container {
    background-color: var(--background-color);
}

.dark .calculator {
    background-color: rgba(51, 60, 72, 0.5);
}

@media (max-width: 600px) {
    .calculator {
        width: 100%;
        padding: 10px;
    }

    .calculator input {
        width: 45px;
        height: 45px;
        font-size: 18px;
        margin: 5px;
    }

    .display input {
        font-size: 30px;
        padding: 5px;
    }

    .theme-toggle {
        top: 5px;
        right: 10px;
    }

    #theme-toggle-button {
        width: 35px;
        height: 35px;
    }
}
